
body{
    background-color:#470031;
    color:white;
    text-align: center;
    margin:0px;
  }
  .topnav {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #FF9898;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #f1f1f1;
    top: 0px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:#029fd8;
    text-align: center;
    padding-right: 30px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color:#029fd8;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }
  

  